body {
	background-color: lightgrey;
	color: black;
}

h1 {
	font-size: 4em;
	background-color: lightgrey;
	color: black;
}

img {
	max-height: 1080px;
	width: auto;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}

input {
	font-size: 2.5rem;
}

